@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
}
.body{
    margin: 0;
}

.main {
    display: flex;
    height: 100vh;
    width: 100%;
}

.main p{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    display: flex;
    flex: 1;
    padding: 3rem;
}
.header {
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
    padding: 3rem;
}

.main_chart {
    width: 500px;
    justify-content: center;
    padding: 1rem;


}
