@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
}
.body{
    margin: 0;
}

.main {
    display: flex;
    height: 40vh;
    width: 100%;
    box-sizing: border-box;
}

.header {
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
    padding-left: 50px;
    padding-top: 50px;
}

.main p{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    display: flex;
    flex: 1;
    padding-left: 75px;
    padding-top: 25px;
}
.main a {
    flex: 1;
}

.main_chart {
    width: 500px;
    height: 500px;
    justify-content: center;
    padding-left: 2rem;


}
