*{
    margin: 0;
    padding: 0;
}
.body{
    margin: 0;
}

.main {
    display: flex;
    height: 80vh;
    justify-content: center;
}

.main_chart {
    display: flex;
    width: 600px;
    justify-content: center;
    padding: 1rem;

}
