.picRight {
    float:right;
    margin: -600px 700px 0 0;
    filter: drop-shadow(10px 10px 10px black);
}

body{
    background-color: gray;
}
.intro {
    position: relative;
    font-size: 150px;
    font-size: 4.2vw;
    padding: 3rem;
    font-family: 'Source Sans Pro', sans-serif;
    text-shadow: 2px 4px 4px #000000;
}
.intro_subheader {
    position: relative;
    font-size: 125px;
    padding: 5rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 4.2vw;
}

.title {

}