.picRight {
    float:right;
    margin: -600px 700px 0 0;
    filter: drop-shadow(10px 10px 10px black);
}

body{
    background-color: gray;
}
.intro {
    position: relative;
    font-size: 150px;
    padding: 3rem;
    font-family: 'Source Sans Pro', sans-serif;
    text-shadow: 2px 4px 4px #000000;
}
.intro_subheader {
    position: relative;
    font-size: 100px;
    padding: 5rem;
    font-family: 'Source Sans Pro', sans-serif;
}


@media only screen and (min-width: 820px) {
    .intro {
        font-size: 100px;
        padding: 2rem;
        font-family: 'Source Sans Pro', sans-serif;
        text-shadow: 2px 4px 4px #000000;
    }
    .intro_subheader {
        position: relative;
        margin: 500px 0 0 0;
        font-size: 50px;
        padding: 1rem;
        font-family: 'Source Sans Pro', sans-serif;
        }
    .picRight {
        float:right;
        margin: -300px 0 0 0;
        filter: drop-shadow(10px 10px 10px black);
        }
}

@media only screen and (min-width: 375px){
    .intro {
        font-size: 100px;
        padding: 2rem;
        font-family: 'Source Sans Pro', sans-serif;
        text-shadow: 2px 4px 4px #000000;
    }
    .intro_subheader {
        position: relative;
        margin: 500px 0 0 0;
        font-size: 50px;
        padding: 1rem;
        font-family: 'Source Sans Pro', sans-serif;
        }
}