* {
    margin:0;
    padding: 0;
}


body {

}



.Nav {
    display: flex;
    justify-content: center;
    width: 100%vw;
    height: 65px;
    align-items: center;


    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.nav--logo {
    display: flex;
    height: 30px;
    margin-left: 25px;
    margin-right: 15px;
    max-width: 100%;

}

.nav--title {
    margin-right: auto;


    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 25.7482px;
    line-height: 24px;
    letter-spacing: 0.01em;

    color: #FFFFFF;
}

.nav--course {
    margin-right: 40px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 15px;
    text-align: right;

    color: #FFFFFF;


}


.form {
    margin-top: 35px;
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
    padding: 36px;
}

.meme--input {
    text-indent: 5px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 14px;
    border-radius: 5px;

    color: #0D0D0D;
}

.meme--button {
    grid-column: 1/-1;
    border-radius: 5px;

    background:
        linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);

    font-size: 15px;

    font-family: 'Karla';
    font-style: normal;
    font-style: normal;
    font-weight: 550;
    font-size: 16px;
    line-height: 19px;
}


.meme--image {
    max-width: 100%;
}