* {
    margin:0;
    padding: 0;
}


body {

}

.Nav {
    display: flex;
    justify-content: center;
    width: 100%vw;
    height: 65px;
    margin-top: 20px;
    align-items: center;
}

.nav--logo {
    display: flex;
    height: 24px;
    width: 30px;
    margin-left: 20px;
    margin-right: 10px;
}

.nav--title {
    margin-right: auto;
}

