{% extends "layout.html" %}

{% block title %}
    history
{% endblock %}

{% block main %}
<h3>History</h3>

<div class="section" >
 <table class="table table-striped-columns">
    <thead>
        <tr>
            <th scope="col">Stock</th>
            <th cope="col">Amount of Shares</th>
            <th scope="col">Price / Share</th>
            <th scope="col">Date</th>
            <th scope="col">Order Type</th>

        </tr>
    </thead>
    <tbody>

        {% for row in database %}

        <tr class="table-dark">
            <td class="table-dark"> {{ row["symbol"] }} </td>
            <td class="table-dark"> {{ row["shares"] }} </td>
            <td class="table-dark"> {{ row["price"] }} </td>
            <td class="table-dark"> {{ row["date"] }} </td>
            <td class="table-dark"> {{ row["type"] }} </td>
        </tr>
        {% endfor %}

    </tbody>
    </table>
 </div>
{% endblock %}