{% extends "layout.html" %}

{% block title %}
    buy
{% endblock %}

{% block main %}
<h3>Balence: {{cash}} </h3>
<h3>Total Portfoilo: {{total}} </h3>
<div class="section" >
 <table>
    <thead>
        <tr>
            <th>Stock</th>
            <th>Amount of Shares</th>
            <th>Price</th>
            <th>Date Purchased</th>
        </tr>
    </thead>
    <tbody>
           {% for purchases in purchases %}

            <tr>
                <td> {{ purchases.symbol }} </td>
                <td> {{ purchases.shares }} </td>
                <td> {{ purchases.price }} </td>
                <td> {{ purchases.date }} </td>
            </tr>

            {% endfor %}

    </tbody>
 </table>
 </div>
{% endblock %}