{% extends "layout.html" %}

{% block title %}
    sell
{% endblock %}

{% block main %}

    <form action="/sell" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="symbol" placeholder="Symbol" type="text">
        </div>
        <div>
            <input class="form-control mx-auto w-auto" name="shares" placeholder="# of stock to sell" type="number" min="1">
        </div>
        <div>
            <button style="margin: 1rem;" class="btn btn-primary" type="submit">Sell</button>
        </div>

    </form>
<h3 style="float: left; padding: 1rem;">Balence: {{ cash }} </h3>

<div class="section" >
 <table class="table table-striped-columns">
    <thead>
        <tr>
            <th scope="col">Stock</th>
            <th cope="col">Amount of Shares</th>
            <th scope="col">Price / Share</th>
            <th scope="col">Total</th>

        </tr>
    </thead>
    <tbody>

        {% for row in database %}

        <tr class="table-dark">
            <td class="table-dark"> {{ row["symbol"] }} </td>
            <td class="table-dark"> {{ row["shares"] }} </td>
            <td class="table-dark"> {{ row["price"] }} </td>
            <td class="table-dark"> </td>
          </tr>
        {% endfor %}
    </tbody>
    </table>
 </div>
{% endblock %}