{% extends "layout.html" %}

{% block title %}
    sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="symbol" placeholder="Symbol" type="text">
        </div>
        <div>
            <input class="form-control mx-auto w-auto" name="shares" placeholder="# of stock to sell" type="number" min="1">
        </div>
        <div>
            <button style="margin: 1rem;" class="btn btn-primary" type="submit">Sell</button>
        </div>

    </form>
{% endblock %}