.title {
  text-align: center;
  padding: 45px;
  color: #f5f5f5;
  background: #5791b3;
}

.body {
  background: #FAF9F6
}

.flex-container {
  display: flex;
  align-items:center;
  justify-content: center;
  padding: 1rem;

  }

.btn-group {
  padding: 5px;
}

#bar{
  color: red;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 20px 30px 0px 10px;
}

.Baritem {
  background: 5791b3;
  border: 1.25px solid #5791b3;
  width: 0.75%;
}

a{
  text-decoration: none;
  color: aqua;
}

a:hover{
  color: #00FF00;
}