.title {
  text-align: center;
  padding: 45px;
  color: white;
}

.body {
  background: black
}

.flex-container {
  display: flex;
  align-items:center;
  justify-content: center;

  }

.btn-group {
  padding: 5px;
}

#bar{
  color: red;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 20px 30px 0px 10px;
}

.Baritem {
  background: gray;
  border: 1.25px solid white;
  width: 0.75%;
}

a{
  text-decoration: none;
  color: aqua;
}

a:hover{
  color: #00FF00;
}