
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


* {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Front page */
.background {
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

body {
    scroll-behavior:smooth;

}

.text-wrapper {
    text-align: center;

}

.headline {
    font-size: 8rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    font-weight: 100;
    line-height: .4;
    text-shadow: 2px 2px 4px #000000;
    padding: 5.5rem;

}

.sub-headline {
    font-size: 6rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    font-weight: 100;
    line-height: .4;
    text-shadow: 2px 2px 4px #000000
}

.parallax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.overflow {
    height: 200vh;
}



/*WHY */
.why {
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.why_header {
    /*margin-top: -600px;*/
    font-size: 5rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    font-weight: 100;
    line-height: .4;
    text-shadow: 2px 2px 4px #000000
}

p {
    
}



/* NAV BAR */

.navbar-nav > li{
    padding-left:20px;
    padding-right:20px;
  }

nav .navbar-nav li a{
    color: white !important;
    }