<style>
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
</style>

* {
    margin: 0;
    padding: 0:;
    box-sizing: border box;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
}

.background {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.text-wrapper {
    text-align: center;
}

.headline {
    font-size: 8rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    font-weight: 100;
    line-height: .4;
}

.sub-headline {
    font-size: 6rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    font-weight: 100;
    line-height: .4;
}

