
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Front page */
.background {
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

body {
    scroll-behavior:smooth;

}

.text-wrapper {
    text-align: center;

}

.headline {
    font-size: 8rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    font-weight: 100;
    line-height: .4;
    text-shadow: 2px 2px 4px #000000;
    padding: 5.5rem;

}

.sub-headline {
    font-size: 6rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    font-weight: 100;
    line-height: .4;
    text-shadow: 2px 2px 4px #000000
}

.parallax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.overflow {
    height: 200vh;
}



/*SECTION 2 */
.storage{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 100%;
    margin: 10rem auto;
    height: 100vh;

}


.storage_header {
    text-align: center;
    font-size: 6rem;
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    padding: 1rem;
    right: 300px;
}
.storage_header2 {
    text-align: left;
    font-size: 2.5rem;
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    padding: 3rem;
    right: 300px;
}

.storage_subheader {
    text-align: left;
    font-size: 1.5rem;
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    right: 250px;
    color:gray;
}



.storage p {
    padding: 1rem;
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}


.textbox {
    padding: 4rem;
    float: left;
    position: relative;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    text-align: left;
    right: 220px;
    margin-bottom: 66px;
}


.text_storage {

}

.storage_picture {
    object-position: center top;



}


/*SECTION 3*/

.section3{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 100%;
    margin: 10rem auto;
    height: 100vh;

}




/* NAV BAR */

.navbar-nav > li{
    padding-left:20px;
    padding-right:20px;
  }

nav .navbar-nav li a{
    color: white !important;
    }